<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title style="font-size:17px">Proziod Analytics (OPC) Private Limited</mat-card-title>
    <mat-card-subtitle style="font-size:20px;color:#000000;text-align:center" >http://www.Proziod.com</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content >
	  <div height="350px" style="font-size:180px;text-align:center;">
		  <span style="color:#3D5AFE">{{counter}}</span>
	  </div>
  </mat-card-content>
  <mat-card-actions >
    <button mat-raised-button style="width:100%;font-size:30px;height:50px;background-color:#aaaaaa" (click) = "LunchNow()">Lunch Me</button>
  </mat-card-actions>
</mat-card>
