.card {
  width: 400px;
  background: #C5CAE9;
}

.header-image {
  background-image: url('./logo.png');
  background-size: 70px 40px;
   background-repeat: no-repeat;
  width : 71px; 
  float : right;
  margin-right : 10px; 
  }